<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <% if (users.length > 0) { %>
                    <table class="table-cart">
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Status</th>
                            <th>Admin</th>
                        </tr>
                        <% for (let user of users) { %>
                            <tr>
                                <td><span style="color: green"><b><%= user.name %></b></span></td>
                                <td><%= user.email %></td>
                                
                                <%if (!user.isAdmin){ %>
                                    <td></td>
                                    <td>
                                        <form action="/admin/admin-user" method="post" >
                                            <input type="hidden" name="email" value="<%=user.email %>">
                                            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                                            <input type="submit" value="Admin"></td>
                                        </form>
                                    </td>
                                <%}else{%>
                                    <td>Admin</td>
                                    <td>
                                        <form action="/admin/default-user" method="post" >
                                            <input type="hidden" name="email" value="<%=user.email %>">
                                            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                                            <input type="submit" value="Default"></td>
                                        </form>
                                    </td>
                                 <%}%>
                            </tr>
          
                            
                            <% } %>
                        </table>
                    <% } else { %>
                        <h1>No Users Found!</h1>
                    <% } %>
            </main>
            <%- include('../includes/end.ejs') %>