<div class="backdrop"></div>
<header class="main-header">
    <button id="side-menu-toggle">Menu</button>
    <nav class="main-header__nav">
        <ul class="main-header__item-list">

            <li class="main-header__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Shop</a>
            </li>

            <li class="main-header__item">
                <a class="<%= path === '/products' ? 'active' : '' %>" href="/products">Products</a>
            </li>
          
            <% if(isLoggedIn) { %>

                <li class="main-header__item">
                    <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a>
                </li>

                <li class="main-header__item">
                    <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders">Orders</a>
                </li>

                <% if(isAdmin) { %>

                    <li class="main-header__item">
                        <a class="<%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Admin Products
                        </a>
                    </li>

                    <li class="main-header__item">
                        <a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add Product
                        </a>
                    </li>

                <% } %>


                <li class="main-header__item">
                   
                </li>
        
            </ul>

        </nav>

        <div style="float: right; margin-left: 30rem; width: 30%;">

                <a style="text-decoration: none; color: white; margin-right: 15px" class="<%= path === '/user-profile' ? 'active' : '' %>" href="/user-profile">My Profile
                </a>

            <form method="post" action="/logout">
                    <input" type="hidden" name="_csrf" value="<%=csrfToken%>">
 
  <input  style="background: none; border: none; color: #039281; ; font-size: 2ch" type="submit" value="Logout">
            </form>
                
            <% } else { %>

        </ul>

    </nav>

    <div style="float: right; margin-left: 30rem; width: 30%;">
        <nav>
                <ul class="right-items">
            
                <li class="main-header__item ">
                    <a href="/login">Login</a>
                </li>

                <li class="main-header__item">
                    <a href="/signup">Sign Up</a>
                </li>

            </ul>
        </nav>
    </div>
            <% } %>

</header>

<nav class="mobile-nav">
        <ul class="mobile-nav__item-list">
                <li class="mobile-nav__item">
                    <a class="<%= path === '/' ? 'active' : '' %>" href="/">Shop</a>
                </li>
                <li class="mobile-nav__item">
                    <a class="<%= path === '/products' ? 'active' : '' %>" href="/products">Products</a>
                </li>
                <li class="mobile-nav__item">
                    <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a>
                </li>
                <li class="mobile-nav__item">
                    <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders">Orders</a>
                </li>
                <li class="mobile-nav__item">
                    <a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add Product
                    </a>
                </li>
                <li class="mobile-nav__item">
                    <a class="<%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Admin Products
                    </a>
                </li>
            </ul>
</nav>