<%- include('./includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
        <%- include('./includes/navigation.ejs') %>

        <% if(errorMsg) {%>
            <div class="user-msg-error"><%= errorMsg %></div>
        <% } %>

    <main>
        <form class="product-form" action="/new-password" method="POST">

          <h2>Reseting password</h2>

          <input type="hidden" name="_csrf" value="<%=csrfToken%>">

          <div class="form-control">
                <label for="title">Password</label>
                <input type="password" name="password">
            </div>
                      
            <div class="form-control">
                <label for="title">Confirm password</label>
                <input type="password" name="password-confirmation">
            </div>
             
            <button class="btn" type="submit">Go</button>
       
        </form>

    </main>
    
<%- include('./includes/end.ejs') %>