<%- include('../includes/head.ejs') %>

    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>


                       <table>
                     
                        <% if(cart.length < 1) {  %>
                        <% for (let c of cart.products) { %>
                        <tr><td><%=c.qty%></td></tr>
                        <% } %>
                        <tr><td><%=cart.totalPrice%></td></tr>
                        <% }else {  %>
                        <h2>No products in the cart </h2>
                        <% }%>
         
                       </table>
                </main>
              
            <%- include('../includes/end.ejs') %>