<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css">
</head>

        <%- include('../includes/navigation.ejs') %>

        <main>

            <h2>Cart:</h2>

                <table class="table-cart">
                
                    <% if(cart.products.length) {  %>
                    <tr><th><b>Name</b></th>
                        <th><b>Price</b></th>
                        <th><b>Quantity</b></th>
                    </tr>
                    <% for (let c of cart.products) { %>
                    <tr><td><%=c.title%></td>
                        <td>$ <%=c.price%></td>
                        <td><%=c.quantity.amount%></td>
                        <td><span style="color: red">Remove</span></td>
                    </tr>
                    <% } %>
                    <tr><td><b><span style="color: #00695c">Total:</span>  <%=cart.totalPrice%></b></td></tr>
                    <% }else {  %>
                    <h2>There is no products in the cart...</h2>
                    <% }%>
    
                </table>


        </main>
              
<%- include('../includes/end.ejs') %>