<%- include('../includes/head.ejs') %>


        <%- include('../includes/navigation.ejs') %>

        <main>

                <table style="width: 400px">
                
                    <% if(cart) {  %>
                    <tr><td><b>Name</b></td><td><b>Price</b></td></tr>
                    <% for (let c of cart.products) { %>
                    <tr><td><%=c.title%></td>
                        <td><%=c.price%></td>
                    </tr>
                    <% } %>
                    <tr><td><%=cart.totalPrice%></td></tr>
                    <% }else {  %>
                    <h2>No products in the cart </h2>
                    <% }%>
    
                </table>


        </main>
              
<%- include('../includes/end.ejs') %>